$background-color: linear-gradient(
  to right,
  rgba(227, 16, 255, 0.5),
  rgba(0, 217, 255, 0.5)
);
$heading-text-color: rgb(128, 5, 145);
$primary-text-color: #545454;
$primary-background-color: #ffffff;
$primary-hover-text-color: #0bb3c5;
$primary-hover-background-color: #f4f4f4;

.main-container {
  background-image: url("../assets/36.png");
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  position: relative;
}

.editor-container {
  position: absolute;
  top: 412px;
  left: 1515px;
  display: flex;
  width: auto;
  height: auto;
}

.section-block {
  padding: 1rem;
  position: relative;
  background: $background-color;
  padding: 3px;
  margin: 20px 20px 20px 20px;
  min-height: 200px;
  text-align: left;
  border-radius: 10px;
  display: block;

  .section-container {
    margin: 5px 5px 5px 5px;
    background-color: rgba(255, 255, 255, 0.9);
    min-height: inherit;
    border-radius: 5px;
    display: block;

    .section-heading {
      position: relative;
      margin: 5px 5px 5px 20px;
      color: $heading-text-color;
      font-size: 40px;
      display: block;

      &::after {
        content: "";
        height: 1px;
        background: $background-color;
        position: absolute;
        //   z-index: -1;
        left: 0px;
        top: 100%;
        width: 100%;
      }
    }

    .section-desctiption {
      margin: 5px 5px 5px 20px;
      font-size: 15px;
      min-height: inherit;
    }
  }
}

.fx-row {
  display: flex;
  flex-direction: row;

  min-width: 0;
  min-height: 0;
}

.fx-row * {
  flex: 0 0 auto;
}

.fx-col {
  display: flex;
  flex-direction: column;

  min-width: 0;
  min-height: 0;
}

.fx-col * {
  flex: 0 0 auto;
}

.fx-auto {
  flex: 1 1 0 !important;
}

.fx-default {
  flex: unset !important;
}

.full-height {
  height: 100%;
}

//For toolbar
.toolbar {
  background-color: #ffffff;
  max-width: 1161px;
  width: 100%;
  padding-left: 4px;
  justify-content: flex-start;
  font-family: Arial, Helvetica, sans-serif;
  color: $primary-text-color;
  border-top: solid 1.5px black;
  border-left: solid 1.5px black;
  border-right: solid 1.5px black;
  font-size: 24px;

  .group {
    align-items: center;
    padding: 4px;
    border-right: solid 0.5px $primary-text-color;
    // &:first-child {
    //   border-left: solid 0.5px $primary-text-color;
    // }
  }

  .font-button-basic {
    width: 60px;
    height: 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    border: solid 0.5px transparent;
    background-color: $primary-background-color;

    &:hover {
      background-color: $primary-hover-background-color;
      border: solid 0.5px $primary-hover-text-color;
      border-radius: 2px;
      // color: $primary-hover-text-color;
      color: transparent;
      text-shadow: 0 0 0 $primary-hover-text-color;
    }
  }

  .config-buttons {
    background-color: #ffffff;
    border: solid 1px $primary-text-color;
    border-radius: 5px;
    font-size: 16px;
    &:hover {
      border-color: $primary-hover-text-color;
      color: $primary-hover-text-color;
    }
  }

  .font-family-select {
    color: $primary-text-color;
    max-width: 500px;
    font-size: 24px;
    &:hover {
      background-color: none;
    }
    option {
      background-color: $primary-background-color;
      &:hover {
        color: $primary-hover-text-color;
        background-color: $primary-hover-background-color;
      }
    }
  }
  .color {
    position: relative;
    display: inline;
    .color-input {
      position: absolute;
      top: 0px;
      right: 0px;
      visibility: hidden;
    }
  }
  .link-container {
    position: relative;
    // display: none;
    visibility: hidden;
    .link-set-container {
      position: absolute;
      top: -3px;
      left: 30px;
    }
  }
}

.notice-template-2 {
  font-size: 16px;
  font-family: "Times New Roman&quot;", serif;
  color: $primary-text-color;
  display: block;
  // max-width: 600px;
  text-align: left;

  border-bottom: solid 0.5px #b1b1b1;
  margin: 0 10px 0 10px;
  .heading {
    font-size: 28px;
    color: rgb(67, 118, 220);
    border-bottom: solid 1px #6d7394;
    display: inline-block;
    padding-bottom: 5px;
    margin-bottom: 10px;
    width: 100%;
  }
  .description-1 {
    font-weight: bold;
    margin-left: 10px;
    padding: 0 0 10px 0;
  }
  .description-2 {
    margin-left: 10px;
    padding: 0 0 10px 0;
  }
}
