.section-block {
  padding: 1rem;
  position: relative;
  background: -webkit-gradient(linear, left top, right top, from(rgba(227, 16, 255, 0.5)), to(rgba(0, 217, 255, 0.5)));
  background: linear-gradient(to right, rgba(227, 16, 255, 0.5), rgba(0, 217, 255, 0.5));
  padding: 3px;
  margin: 20px 20px 20px 20px;
  min-height: 200px;
  text-align: left;
  border-radius: 10px;
}

.section-block .section-container {
  margin: 5px 5px 5px 5px;
  background-color: rgba(255, 255, 255, 0.9);
  min-height: inherit;
  border-radius: 5px;
}

.section-block .section-container .section-heading {
  position: relative;
  margin: 5px 5px 5px 20px;
  color: #800591;
  font-size: 40px;
  display: block;
}

.section-block .section-container .section-heading::after {
  content: "";
  height: 1px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(227, 16, 255, 0.5)), to(rgba(0, 217, 255, 0.5)));
  background: linear-gradient(to right, rgba(227, 16, 255, 0.5), rgba(0, 217, 255, 0.5));
  position: absolute;
  left: 0px;
  top: 100%;
  width: 100%;
}

.section-block .section-container .section-desctiption {
  margin: 5px 5px 5px 20px;
  font-size: 15px;
  min-height: inherit;
}

.fx-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-width: 0;
  min-height: 0;
}

.fx-row * {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.fx-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 0;
  min-height: 0;
}

.fx-col * {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.fx-auto {
  -webkit-box-flex: 1 !important;
      -ms-flex: 1 1 0px !important;
          flex: 1 1 0 !important;
}

.fx-default {
  -webkit-box-flex: unset !important;
      -ms-flex: unset !important;
          flex: unset !important;
}

.toolbar {
  width: 100%;
  padding-left: 4px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-family: Arial, Helvetica, sans-serif;
  color: #545454;
  border-top: solid 1.5px black;
}

.toolbar .group {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4px;
  border-right: solid 0.5px #545454;
}

.toolbar .font-button-basic {
  width: 30px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: solid 0.5px transparent;
  background-color: #ffffff;
}

.toolbar .font-button-basic:hover {
  background-color: #f4f4f4;
  border: solid 0.5px #0bb3c5;
  border-radius: 2px;
  color: transparent;
  text-shadow: 0 0 0 #0bb3c5;
}

.toolbar .font-family-select {
  color: #545454;
  max-width: 150px;
}

.toolbar .font-family-select:hover {
  background-color: none;
}

.toolbar .font-family-select option {
  background-color: #ffffff;
}

.toolbar .font-family-select option:hover {
  color: #0bb3c5;
  background-color: #f4f4f4;
}

.toolbar .color {
  position: relative;
  display: inline;
}

.toolbar .color .color-input {
  position: absolute;
  top: 0px;
  right: 0px;
  visibility: hidden;
}

.toolbar .link-container {
  position: relative;
  visibility: hidden;
}

.toolbar .link-container .link-set-container {
  position: absolute;
  top: -3px;
  left: 30px;
}
/*# sourceMappingURL=style.css.map */