$background-color: linear-gradient(
  to right,
  rgba(227, 16, 255, 0.5),
  rgba(0, 217, 255, 0.5)
);
$heading-text-color: rgb(128, 5, 145);
$primary-text-color: #545454;
$primary-background-color: #ffffff;
$primary-hover-text-color: #0bb3c5;
$primary-hover-background-color: #f4f4f4;

.section-block {
  padding: 1rem;
  position: relative;
  background: $background-color;
  padding: 3px;
  margin: 20px 20px 20px 20px;
  min-height: 200px;
  text-align: left;
  border-radius: 10px;

  .section-container {
    margin: 5px 5px 5px 5px;
    background-color: rgba(255, 255, 255, 0.9);
    min-height: inherit;
    border-radius: 5px;

    .section-heading {
      position: relative;
      margin: 5px 5px 5px 20px;
      color: $heading-text-color;
      font-size: 40px;
      display: block;

      &::after {
        content: "";
        height: 1px;
        background: $background-color;
        position: absolute;
        //   z-index: -1;
        left: 0px;
        top: 100%;
        width: 100%;
      }
    }

    .section-desctiption {
      margin: 5px 5px 5px 20px;
      font-size: 15px;
      min-height: inherit;
    }
  }
}

.fx-row {
  display: flex;
  flex-direction: row;

  min-width: 0;
  min-height: 0;
}

.fx-row * {
  flex: 0 0 auto;
}

.fx-col {
  display: flex;
  flex-direction: column;

  min-width: 0;
  min-height: 0;
}

.fx-col * {
  flex: 0 0 auto;
}

.fx-auto {
  flex: 1 1 0 !important;
}

.fx-default {
  flex: unset !important;
}

//For toolbar
.toolbar {
  width: 100%;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  color: $primary-text-color;

  .group {
    border: solid 1px $primary-text-color;
  }

  .font-button-basic {
    width: 30px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: solid 0.5px transparent;
    background-color: $primary-background-color;

    &:hover {
      background-color: $primary-hover-background-color;
      border: solid 0.5px $primary-hover-text-color;
      border-radius: 2px;
      color: $primary-hover-text-color;
    }
  }
  .font-family-select {
    color: $primary-text-color;
    max-width: 100px;
    &:hover {
      background-color: none;
    }
    option {
      background-color: $primary-background-color;
      &:hover {
        color: $primary-hover-text-color;
        background-color: $primary-hover-background-color;
      }
    }
  }
  .color {
    position: relative;
    display: inline;
    .color-input {
      position: absolute;
      top: 0px;
      right: 0px;
      visibility: hidden;
    }
  }
}
